<?xml version="1.0" encoding="utf-8" ?> <!--WebConfig header @0-EFBEC7D5-->

<!--WebConfig @0-613E8A3A-->
<configuration>
  <configSections>
    <sectionGroup name="connectionCommands">
      <section name="_connDECVPRODSQL2005Commands" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="_connDECVPROD_RegionEnrolmentsCommands" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <section name="locales" type="DECV_PROD2007.LocalesConfigHandler"/>
  </configSections>
  <!--End WebConfig-->

  <!--WebConfig appSettings @0-8D4EB0B7-->

  <!--Conection commands @0-CD4C7094-->

  <!--Locales @0-27CDD037-->

  <!--WebConfig system.web header @0-72FE57B4-->

    <!--HttpModules @0-A8DCABCA-->

    <!--Authentication @0-85F3937E-->

    <!--WebConfig system.web @0-5BF83A5A-->


<!--DEL    -->
  <appSettings>
    <!--<add key="connDECVPRODSQL2005String" value="Password=iz0dub88;Persist Security Info=True;User ID=stagemaster;Initial Catalog=STUDENT_ADMIN_staging;Data Source=DECV-DB;;User ID=stagemaster;Password=iz0dub88"/>-->
	 <add key="connDECVPRODSQL2005String" value="Password=iz1dub55tep;Persist Security Info=True;User ID=stagemaster;Initial Catalog=STUDENT_ADMIN_stage5;Data Source=DECV-DB;" />
    <add key="connDECVPRODSQL2005Type" value="Sql"/>
    <add key="connDECVPRODSQL2005Server" value="MSSQLServer"/>
    <add key="connDECVPRODSQL2005DateFormat" value="yyyy-MM-dd HH\:mm\:ss"/>
    <add key="connDECVPRODSQL2005BoolFormat" value="1;0"/>
    <add key="connDECVPRODSQL2005DateRightDelimeter" value="'"/>
    <add key="connDECVPRODSQL2005DateLeftDelimeter" value="'"/>
    <add key="connDECVPRODSQL2005Optimized" value="True"/>
    <add key="connDECVPRODSQL2005TopRecordsPlace" value="beforeFrom"/>
    <add key="connDECVPRODSQL2005TopRecordsClause" value=" TOP {SqlParam_endRecord}"/>
    <add key="connDECVPROD_RegionEnrolmentsString" value="Password=redr0ck;Persist Security Info=True;User ID=webmaster;Initial Catalog=decvRegionEnrolments;Data Source=decv-db1;User ID=webmaster;Password=redr0ck"/>
    <add key="connDECVPROD_RegionEnrolmentsType" value="Sql"/>
    <add key="connDECVPROD_RegionEnrolmentsServer" value="MSSQLServer"/>
    <add key="connDECVPROD_RegionEnrolmentsDateFormat" value="yyyy-MM-dd HH\:mm\:ss"/>
    <add key="connDECVPROD_RegionEnrolmentsBoolFormat" value="1;0"/>
    <add key="connDECVPROD_RegionEnrolmentsDateRightDelimeter" value="'"/>
    <add key="connDECVPROD_RegionEnrolmentsDateLeftDelimeter" value="'"/>
    <add key="connDECVPROD_RegionEnrolmentsOptimized" value="True"/>
    <add key="connDECVPROD_RegionEnrolmentsTopRecordsPlace" value="beforeFrom"/>
    <add key="connDECVPROD_RegionEnrolmentsTopRecordsClause" value=" TOP {SqlParam_endRecord}"/>
    <add key="ServerUrl" value="http://decv-db/STUDENT_ADMIN_stage5/"/>
    <add key="SecuredUrl" value=""/>
    <add key="CultureId" value=""/>
    <add key="SiteLanguage" value="en"/>
    <add key="AccessDeniedUrl" value="Login.aspx"/>
    <add key="DefaultDateFormat" value="dd\/MM\/yyyy"/>
    <add key="DefaultBooleanFormat" value=""/>
    <add key="LoginCookieExpiration" value="1"/>
    <add key="RC4EncryptionKey" value="Q08BRUi0795O13Lm"/>
    <!-- ERA:4-Dec-2014|EA| config for finding Student Folders and paths for reports from Summary pages (unfuddle # ) -->
    <add key="StudentFolderLocalURL" value="file:////decv-db/Student_Admin_Student_data$/"/>
    <add key="StudentFolderLocalCreatePath" value="e:\Student_Admin_Student_data\"/>
    <add key="StudentFolderLocalReportsURL" value="http://Stud_Admin_Reports/"/>
    <add key="strHigherSecurityGroups" value="2,3,4,5,6,7,9,12"/>
  </appSettings>
  <!--End WebConfig appSettings-->
  <!--ERA: Oct2013|EA| remove stmp_server lookup (removed in .NET 4.0), replace all instances with System.Net.Mail-->
  <system.net>
    <mailSettings>
      <smtp from="pcsupport@distance.vic.edu.au" deliveryMethod="network">
        <network host="DECV-CAS" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
<!--DEL    -->
  <connectionCommands>
    <_connDECVPRODSQL2005Commands/>
    <_connDECVPROD_RegionEnrolmentsCommands/>
  </connectionCommands>
  <!--End Conection commands-->
<!--DEL    -->
  <locales>
    <locale language="en" country="" defaultCountry="US" name="en-US" booleanFormat="Yes;No" zeroFormat="" nullFormat="" weekdayNarrowNames="S;M;T;W;T;F;S" encoding="windows-1252"/>
  </locales>
  <!--End Locales-->
<!--DEL    -->
  <system.web>
    <!--End WebConfig system.web header-->
<!--DEL      -->
    <!--End HttpModules-->
<!--DEL      -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="180"/>
    </authentication>
    <membership defaultProvider="CCSMembershipProvider">
      <providers>
        <add connectionString="connDECVPRODSQL2005" name="CCSMembershipProvider" type="DECV_PROD2007.Security.CCSMembershipProvider" tableName="STAFF" userIdField="STAFF_ID" userLoginField="STAFF_ID" userPasswordField="PASSWORD" userGroupField="GROUP_ID" userIdSessionVariable="UserID" userGroupSessionVariable="GroupID" userLoginSessionVariable="UserLogin"/>
      </providers>
    </membership>
    <!--End Authentication-->
<!--DEL      -->
    <compilation defaultLanguage="VB" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors mode="Off"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="windows-1252" responseEncoding="windows-1252" fileEncoding="windows-1252"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
<!--End WebConfig system.web-->